@charset "utf-8";
/* CSS Document */

         nav ul {
                margin-left:50px;
         }
         .navbar-nav .nav-item .nav-link {
                color:#000;
                font-weight:500;
                font-size:20px;
                margin-left:20px;
                padding: 7px 13px;
         }
          nav ul li a.active, nav ul li a:hover {
                background: #3f9;
                transition: .5s;
         }
         .dropdown-menu .dropdown-item {
                color: #000;
                font-weight: 500;
                font-size: 17px;
                text-align: center;
          } 
         .dropdown-menu a.active, .dropdown-menu a:hover {
                background: #f8f9fa;   
                color: #9900cc;
                transition: .5s;
          }
		  .mobile {
			  display: none;
		  }
		  .computer {
			  display: block;
		  }
		
		 .dropdown-menu {
            padding: 10px 10px;
		    width: auto;
		    min-width: 200px; 
        }
         .fa-user {
            color: #0c3;   
        }
         .dropdown-menu hr {
            background-color: #0c3;
        }
         nav ul li p {
	       font-weight: 350;
	       font-size: 20px;
        }

         .text {
           background: -webkit-linear-gradient(right, #0c3, #9900cc, #56c5e4, #9f01ea);
           -webkit-background-clip: text;
           -webkit-text-fill-color: transparent;
        }
		 .dropdown-toggle-split {
		 font-weight: 500;
         font-size: 30px;
		 padding: 7px 10;
		 text-align: center; 
	    }
                
		 
	@media (max-width: 992px) {
               
		 .navbar-collapse.collapsing .navbar-nav {
			 display:block;
			 position:fixed;
			 top:0;
			 bottom:0;
			 left:-45%;
			 transition:all 0.1s ease;
	    }
	     .navbar-collapse.show .navbar-nav {
			 position:fixed;
			 top:89px;
			 bottom:0;
			 left:-69px;
			 flex-direction: column;
			 height:100vh;
			 width: 100%;
			 transition: left 0.2s ease;
			 background-color:#CCC;
			 text-align:center;
                         	 
	    }
         .navbar-nav .nav-item .nav-link {
             color:#000;
             background: #CCC;
             font-weight:500;
             font-size: 20px;
             padding: 3px 2px;
             margin-top: 30px;
			 text-align:center;
                
        }
               
         .navbar-nav .nav-item .nav-link.active, .navbar-nav .nav-item .nav-link:hover {
             color: #9900cc;
                
        }
		.mobile {
			display: block;
		
		}
		.computer {
			display: none;
		}
        .dropdown-toggle-split {
		 margin-top: 27px;
		 font-weight: 500;
         font-size: 30px;
		}
	    .dropdown-toggle-split:hover {
		 background-color:  #9900cc;
		 
	    }   
              
             
    }